@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@*   <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@


<div class="text-center">
    <h1 class="display-4">Listen</h1>
    <br><br>
    <iframe width="746" height="420" src="https://www.youtube.com/embed/-7qYeZcOioI?&autoplay=1" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<br><br><br><br><br><br><br>
<div onload="myMove()" id="myContainer">
    <div id="myAnimation"></div>
</div>